<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 250 }}{% else %}{{ site.description }}{% endif %}">
    <title>{{ page.title | append: " - " | append: site.title }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | relative_url }}">

    <!-- Come and get me RSS readers -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | truncate: 250 }}{% else %}{{ site.description }}{% endif %}">
    {%- if page.image %}
    <meta property="og:image" content="{{ '/assets/img/' | absolute_url | append: page.image }}">
    {%- endif %}
    {%- if page.layout == 'post' %}
    <meta property="article:author" content="https://www.twitter.com/AntoineCotten">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {%- endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site:id" content="@AntoineCotten">
    {%- if page.layout == 'post' %}
    <meta name="twitter:creator:id" content="@AntoineCotten">
    {%- endif %}
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | truncate: 250 }}{% else %}{{ site.description }}{% endif %}">
    {%- if page.image %}
    <meta name="twitter:image" content="{{ '/assets/img/' | absolute_url | append: page.image }}">
    {%- endif %}

    <!-- Modernizr -->
    <script src="{{ "/assets/js/modernizr.custom.15390.js" | absolute_url }}" type="text/javascript"></script>

    {%- if site.google_analytics %}

    <!-- Google Analytics -->
    {% include google_analytics.html %}
    {%- endif %}
</head>
