// Theme: autumn (modified)
// Source: https://github.com/richleland/pygments-css/blob/c39da1d9/autumn.css
.highlighter-rouge {
  .hll { background-color: #ffffcc }
  .c { color: #aaaaaa; font-style: italic } /* Comment */
  .err { color: #F00000; background-color: #F0A0A0 } /* Error */
  .k { font-weight: bold } /* Keyword */
  .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
  .cp { color: #4c8317 } /* Comment.Preproc */
  .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
  .cs { color: #0000aa; font-style: italic } /* Comment.Special */
  .gd { color: #aa0000 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  .gi { color: #609960 } /* Generic.Inserted */
  .go { color: #868587 } /* Generic.Output */
  .gp { color: #545354 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .kc { color: #0000aa } /* Keyword.Constant */
  .kd { color: #0000aa } /* Keyword.Declaration */
  .kn { color: #0000aa } /* Keyword.Namespace */
  .kp { color: #0000aa } /* Keyword.Pseudo */
  .kr { color: #0000aa } /* Keyword.Reserved */
  .kt { color: #609999 } /* Keyword.Type */
  .m { color: #aa3900 } /* Literal.Number x*/
  .s { color: #aa5500 } /* Literal.String */
  .na { color: #468bcf } /* Name.Attribute */
  .nb { color: #609999 } /* Name.Builtin */
  .nc { color: #609960; text-decoration: underline } /* Name.Class */
  .no { color: #aa0000 } /* Name.Constant */
  .nd { color: #888888 } /* Name.Decorator */
  .ni { color: #800000; font-weight: bold } /* Name.Entity */
  .nf { color: #609960 } /* Name.Function */
  .nn { color: #609999; text-decoration: underline } /* Name.Namespace */
  .nt { color: #468bcf; font-weight: bold } /* Name.Tag */
  .nv { color: #aa0000 } /* Name.Variable */
  .ow { color: #0000aa } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #aa3900 } /* Literal.Number.Float x*/
  .mh { color: #aa3900 } /* Literal.Number.Hex x*/
  .mi { color: #aa3900 } /* Literal.Number.Integer x*/
  .mo { color: #aa3900 } /* Literal.Number.Oct x*/
  .sb { color: #aa5500 } /* Literal.String.Backtick */
  .sc { color: #aa5500 } /* Literal.String.Char */
  .sd { color: #aa5500 } /* Literal.String.Doc */
  .s2 { color: #aa5500 } /* Literal.String.Double */
  .se { color: #aa5500 } /* Literal.String.Escape */
  .sh { color: #aa5500 } /* Literal.String.Heredoc */
  .si { color: #aa5500 } /* Literal.String.Interpol */
  .sx { color: #aa5500 } /* Literal.String.Other */
  .sr { color: #aa3900 } /* Literal.String.Regex x*/
  .s1 { color: #aa5500 } /* Literal.String.Single */
  .ss { color: #0000aa } /* Literal.String.Symbol */
  .bp { color: #aa3900 } /* Name.Builtin.Pseudo */
  .vc { color: #aa0000 } /* Name.Variable.Class */
  .vg { color: #aa0000 } /* Name.Variable.Global */
  .vi { color: #aa0000 } /* Name.Variable.Instance */
  .il { color: #aa3900 } /* Literal.Number.Integer.Long x*/
  .p { color: #667c8c } /* Punctuation */

  &.language-sh,
  &.language-console {
    .nt { font-weight: inherit } /* Name.Tag (flags) */
  }

  &.language-console {
    .gp { color: #4c8317 } /* Generic.Prompt */
  }

  &.language-go {
    .nb { color: #609960 } /* Name.Builtin is used for Name.Function by Rouge in Go blocks */
  }

  &.language-rust {
    .nn { text-decoration: none } /* Name.Namespace */
    .nd { color: #609960; font-style: italic } /* Name.Decorator is used for macros by Rouge in Rust blocks */
  }
}
